@import './variables.scss';

@mixin applyViewTypes {
    @each $type, $color in $light_text_bg_types {
        &--#{$type} {
            background-color: $color;
            color: #FFFFFF;
        }
    }
    @each $type, $color in $dark_text_bg_types {
        &--#{$type} {
            background-color: $color;
            color: #353A40;
        }
    }
}