@import '../../assets/styles/variables.scss';

$fleet-width: $gameplay-area-width / 10;
$fleet-height: $gameplay-area-height / 10;
$fleet-border-width: 4px;

.opponent-fleet {
    position: absolute;
    display: flex;
    box-sizing: border-box;

    &--horizontal {
        height: $fleet-height;

        .opponent-fleet__item {
            transform: rotate(270deg);

            &::after {
                transform: rotate(90deg);
            }
        }
    }

    &--vertical {
        width: $fleet-width;
        flex-direction: column;
    }

    &__item {
        position: relative;
        width: $fleet-width;
        height: $fleet-height;

        &::before,
        &::after {
            background-size: contain;
            width: 100%;
            margin: 0 auto;
            height: 100%;
            display: block;
            content:  ' ';
            box-sizing: border-box;
        }

        &::before {
            background: #333;
            border: $fleet-border-width solid rgb(46, 23, 6);
        }

        &::after {
            background-image: url('../../assets/images/fire.png'), url('../../assets/images/fire.png');
            position: absolute;
            top: 0;
            left: 0;
        }

        &--destroyed {
            &::before {
                border: $fleet-border-width solid #222;
                background: #3F3F3F;
            }

            &::after {
                background-image: url('../../assets/images/smoke.png'), url('../../assets/images/fire.png');
            }
        }
    }
}

        